
{% load static %}
<!-- Pending card start -->
{% if pending_obj %}
    {% for i in pending_obj %}
        <div class="card task-box" id="intask-2" data-card_id="{{i.id}}">
            <div class="card-body">
                <div class="dropdown float-end">
                    <a href="#" class="dropdown-toggle arrow-none" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="mdi mdi-dots-vertical m-0 text-muted h5"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item deletetask" target="_blank" href="{% url 'View_Task_Detail' i.id %}">View</a>
                        <a class="dropdown-item deletetask" href="#" onclick="Delete_Task('{{i.id}}')" data-id="#uptask-2">Delete</a>
                        <a class="dropdown-item edittask-details"  href="#" onclick="Update_Task_Modal('{{i.id}}')" >Edit</a>

                    </div>
                </div> <!-- end dropdown -->
                
                <div>
                    
                    <div class="row">
                        <div class="col-md-auto" style="color: #556ee6;">
                            <p class="">{{i.start_date|date:"d M,  Y"}}</p>
                        </div>
                        <div class="col-md-auto" style="">
                            <i class="bx bx-right-arrow-alt"></i>
                        </div>
                        
                        <div class="col-md-auto" style="color:#f46a6a;">
                            <p class="">{{i.end_date|date:"d M,  Y"}}</p>
                        </div>
                        
                    </div>
                        
                </div>
                
                <ul class="ps-3 mb-4 text-muted" id="task-desc">
                    <h5 class="font-size-15"><a href="javascript: void(0);" class="text-dark" id="task-name">{{i.title}}</a></h5>
                </ul>
                
                <div class="avatar-group float-start task-assigne">
                    <div class="row">
                        <div class="col-md-auto">
                            <div class="avatar-group-item">
                                <a href="javascript: void(0);"  class="d-inline-block" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="{{i.fk_task_member.first_name}} {{i.fk_task_member.last_name}}"> 
                                    {% if i.fk_task_member.profile_pic %} 
                                        <img src="{{i.fk_task_member.profile_pic.url}}" alt="" class="rounded-circle avatar-xs"> 
                                    {% else %}
                                        <img src="{% static 'assets/images/users/dummy.jpg' %}" alt="" class="rounded-circle avatar-xs">
                                    {% endif %}
                                </a>
                            </div>
                        </div>
                        <div class="col-md-auto">
                            <span class="badge rounded-pill badge-soft-success font-size-12" id="task-status">{{i.priority }}</span>
                        </div>
                        
                        <div class="col-md-auto">
                            <span class="badge rounded-pill badge-soft-primary font-size-12" id="task-status">{{i.status }}</span>
                        </div>

                    </div>
                    
                </div>
                <div class="text-end" >
                    <span class="badge rounded-pill badge-soft-danger font-size-12" id="task-status">Delay <span style="color:red;">{{i.delay_days}}</span></span>
                </div>
            </div>
        </div>

        
    {% endfor %}
    
{% else %}
        <h6 style="color: #333; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);text-align: center; ">No Pending Taks</h6>
{% endif %}
<!-- Pending card end -->
